{% extends "base.html" %}

{% block title %}
	Listagem de Material
{% endblock title %}

{% block subtitle %}
	Página de listagem de todos os materiais apreendidos nas suas operações
{% endblock subtitle %}

{% block breadcrumbs %}
	<div class="breadcrumb-button blue">
    <a href="/">
    	<span class="breadcrumb-label">
	    	<i class="icon-home"></i> Home
	    </span>
	    <span class="breadcrumb-arrow"><span></span></span>
	  </a>
  </div>

  <div class="breadcrumb-button">
		<a href="">
			<span class="breadcrumb-label">
				<i class="icon-home"></i> Materiais
			</span>
			<span class="breadcrumb-arrow"><span></span></span>
		</a>
	</div>
{% endblock breadcrumbs %}

{% block content %}
	<div class="container-fluid padded">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-header">
						<span class="title">
							Listagem de todos os Materiais cadastrados
						</span>
						<ul class="box-toolbar">
							<li>
								<a href="{% url 'seized_material_add' %}">
									Adicionar novo Material
								</a>
							</li>
						</ul>
					</div>
					<div class="box-content">
					<table class="table table-normal">
						<thead>
						<tr>
							<td>Nome</td>
							<td>Tipo</td>
							<td style="width: 40px;"/>
						</tr>
					</thead>
					<tbody>
						{% for seized_material in seized_materials.object_list %}
							<tr class="status-pending">
								<td>
									{{ seized_material.name }}
								</td>
								<td>
									{{ seized_material.type|default:'-' }}
								</td>
								<td>
									<a href="{% url 'seized_material_edit' seized_material.pk %}">
										<span class="icon">
											<i class="icon-edit"></i>
										</span>
									</a>
									<a href="{% url 'seized_material_delete' seized_material.pk %}">
										<span class="icon">
											<i class="icon-remove"></i>
										</span>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				{% include "pagination.html" with objects=seized_materials %}
			</div>
		</div>
	</div>
{% endblock content %}