{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %}
	Adição de Escolas
{% endblock title %}

{% block subtitle %}
	Página de criação de novas escolas apreendidos nas suas operações
{% endblock subtitle %}

{% block breadcrumbs %}
	<div class="breadcrumb-button blue">
	<a href="/">
		<span class="breadcrumb-label">
			<i class="icon-home"></i> Home
		</span>
		<span class="breadcrumb-arrow"><span></span></span>
	  </a>
  </div>
	
	<div class="breadcrumb-button blue">
		<a href="{% url 'school_list' %}">
			<span class="breadcrumb-label">
				<i class="icon-home"></i> Escolas
			</span>
			<span class="breadcrumb-arrow"><span></span></span>
		</a>
	</div>
	
	<div class="breadcrumb-button">
		<a href="">
		<span class="breadcrumb-label">
		  <i class="icon-dashboard"></i> Adição
		</span>
		<span class="breadcrumb-arrow"><span></span></span>
		</a>
  </div>
{% endblock breadcrumbs %}

{% block content %}
	<div class="container-fluid padded">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-header">
						<span class="title">
							Preencha corretamente todas as informações antes de salvar.
						</span>
					</div>

					<div class="box-content">
						<form class="form-horizontal fill-up" method="POST">
							{% csrf_token %}

							<div class="padded">
								{{ school_form|as_bootstrap }}
							</div>

							<div class="form-actions">
								<button type="submit" class="btn btn-blue">
									Salvar
								</button>
								<a href="{% url 'school_list' %}" class="btn btn-default">
									Cancel
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}