<!doctype html>
<html>
	<head>

		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
		<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800"> -->


		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine or request Chrome Frame -->
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

		<!-- Use title if it's in the page YAML frontmatter -->
		<title>Projeto Leitech</title>

		<link href="{{ STATIC_URL }}stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

		<!--[if lt IE 9]>
		<script src="{{ STATIC_URL }}javascripts/vendor/html5shiv.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}javascripts/vendor/excanvas.js" type="text/javascript"></script>
		<![endif]-->

		<script src="{{ STATIC_URL }}javascripts/application.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="navbar navbar-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container-fluid">

					<a class="brand" href="{% url 'dashboard' %}">Leitech</a>

					<!-- the new toggle buttons -->

					<ul class="nav pull-right">

						<li class="toggle-primary-sidebar hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-primary"><button type="button" class="btn btn-navbar"><i class="icon-th-list"></i></button></li>

						<li class="hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-top"><button type="button" class="btn btn-navbar"><i class="icon-align-justify"></i></button></li>

					</ul>
					<div class="nav-collapse nav-collapse-top collapse">

						<ul class="nav full pull-right">
							<li class="dropdown user-avatar">

								<!-- the dropdown has a custom user-avatar class, this is the small avatar with the badge -->

								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span>
										<img class="menu-avatar" src="{{ STATIC_URL }}images/avatars/avatar1.jpg" /> <span>{{ request.user.full_name }} <i class="icon-caret-down"></i></span>
									</span>
								</a>

								<ul class="dropdown-menu">

									<!-- the first element is the one with the big avatar, add a with-image class to it -->

									<li class="with-image">
										<div class="avatar">
											<img src="{{ STATIC_URL }}images/avatars/avatar1.jpg" />
										</div>
										<span>{{ request.user.full_name }}</span>
									</li>

									<li class="divider"></li>

									<li>
										<a href="{% url 'user_edit' request.user.pk %}">
											<i class="icon-user"></i> 
											<span>Perfil</span>
										</a>
									</li>
									<li>
										<a href="{% url 'auth_logout' %}">
											<i class="icon-off"></i> 
											<span>Sair</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>

						<form class="navbar-search pull-right">
							<input type="text" class="search-query animated" placeholder="Search">
							<i class="icon-search"></i>
						</form>

						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Configurações <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									{% if request.user.is_manager %}
										<li>
											<a href="{% url 'user_list' %}" title="Gerencie Usuarios">
												Usuarios
											</a>
										</li>
									{% endif %}
									<li>
										<a href="{% url 'seized_material_type_list' %}">
											Tipos de Materiais
										</a>
									</li>
									<li>
										<a href="{% url 'police_car_list' %}">
											Viaturas
										</a>
									</li>
									<li>
										<a href="{% url 'police_list' %}">
											Policiais
										</a>
									</li>
									<li>
										<a href="{% url 'occurrence_type_list' %}">
											Tipos de Ocorrência
										</a>
									</li>
									<li>
										<a href="{% url 'occurrence_status_list' %}">
											Status da Ocorrência
										</a>
									</li>
									<li>
										<a href="{% url 'school_list' %}">
											Escolas
										</a>
									</li>
									<li>
										<a href="{% url 'attended_public_list' %}">
											Público Atendido
										</a>
									</li>
								</ul>
							</li>


						</ul>

					</div>
				</div>
			</div>
		</div>

		<div class="sidebar-background">
			<div class="primary-sidebar-background"></div>
		</div>

		<div class="primary-sidebar">

			<!-- Main nav -->
			<ul class="nav nav-collapse collapse nav-collapse-primary">
				<li class="dark-nav ">
					<span class="glow"></span>
					<a class="accordion-toggle collapsed " data-toggle="collapse" href="#3hzyGPtrSk">
						<i class="icon-beaker icon-2x"></i>
							<span>
								Material
								<i class="icon-caret-down"></i>
							</span>
					</a>

					<ul id="3hzyGPtrSk" class="collapse ">
				
						<li class="">
							<a href="{% url 'seized_material_add' %}">
								<i class="icon-plus"></i> Adicionar
							</a>
						</li>
				
						<li class="">
							<a href="{% url 'seized_material_list' %}">
								<i class="icon-list"></i> Listar
							</a>
						</li>
				
					</ul>

				</li>

				<li class="dark-nav ">
					<span class="glow"></span>
					<a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown_occurrence">
						<i class="icon-phone icon-2x"></i>
							<span>
								Ocorrência
								<i class="icon-caret-down"></i>
							</span>
					</a>

					<ul id="dropdown_occurrence" class="collapse ">
				
						<li class="">
							<a href="{% url 'occurrence_add' %}">
								<i class="icon-plus"></i> Adicionar
							</a>
						</li>
				
						<li class="">
							<a href="{% url 'occurrence_list' %}">
								<i class="icon-list"></i> Listar
							</a>
						</li>
				
					</ul>

				</li>

			</ul>
		</div>

		<div class="main-content">
			<div class="container-fluid">
				<div class="row-fluid">

					<div class="area-top clearfix">
						<div class="pull-left header">
							<h3 class="title">
								{% block title %}{% endblock title %}
							</h3>
							<h5>
								{% block subtitle %}{% endblock subtitle %}
							</h5>
						</div>

						<ul class="inline pull-right sparkline-box">
							{% block sparkline %}{% endblock sparkline %}
						</ul>
					</div>
				</div>
			</div>

			<div class="container-fluid padded">
				<div class="row-fluid">

					{% for m in messages %}
						<div class="alert alert-{{ m.tags }}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							{{ m }}
						</div>
					{% endfor %}

					<!-- Breadcrumb line -->

					<div id="breadcrumbs">
						{% block breadcrumbs %}{% endblock breadcrumbs %}
					</div>
				</div>
			</div>
			{% block content %}
				
			{% endblock content %}
		</div>
	</body>

	{% block extra_js %}{% endblock extra_js %}
</html>
