{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %}
  Relatórios
{% endblock title %}

{% block subtitle %}
  Página de criação de novos materiais apreendidos nas suas operações
{% endblock subtitle %}

{% block breadcrumbs %}
  <div class="breadcrumb-button blue">
    <a href="{% url 'dashboard' %}">
      <span class="breadcrumb-label">
        <i class="icon-home"></i> Relatórios
      </span>
      <span class="breadcrumb-arrow"><span></span></span>
    </a>
  </div>
{% endblock breadcrumbs %}

{% block content %}
  <div class="container-fluid padded">
    <div class="row-fluid">
      <div class="span6">
        <div class="box">
          <div class="box-header">
            <span class="title">
              GRAFICO 01
            </span>
          </div>

          <div class="box-content">
            GRAFICO 01
          </div>
        </div>
      </div>

      <div class="span6">
        <div class="box">
          <div class="box-header">
            <span class="title">
              GRAFICO 02
            </span>
          </div>

          <div class="box-content">
            GRAFICO 02
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}