{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %}
  Relatórios
{% endblock title %}

{% block subtitle %}
  Página de criação de novos materiais apreendidos nas suas operações
{% endblock subtitle %}

{% block breadcrumbs %}
  <div class="breadcrumb-button blue">
    <a href="{% url 'dashboard' %}">
      <span class="breadcrumb-label">
        <i class="icon-home"></i> Relatórios
      </span>
      <span class="breadcrumb-arrow"><span></span></span>
    </a>
  </div>
{% endblock breadcrumbs %}

{% block content %}
  <div class="container-fluid padded">
    <div class="row-fluid">
      <div class="span6">
        <div class="box">
          <div class="box-header">
            <span class="title">
              GRAFICO 01
            </span>
          </div>

          <div class="box-content">
            GRAFICO 01
          </div>
        </div>
      </div>

      <div class="span6">
        <div class="box">
          <div class="box-header">
            <span class="title">
              Occorrência agrupadas por Público Atendido
            </span>
          </div>

          <div class="box-content">
            <div id="id_report02"></div>
          </div>
        </div>
      </div>
    </div>
  <h1>Gráficos</h1>
        
        <!--Menu-->
        <nav>
            <ul>
                <li><a id="" href="#G01">G01</a></li>
                <li><a id="" href="#G02">G02</a></li>
                <li><a id="" href="#G03">G03</a></li>
                <li><a id="" href="#G04">G04</a></li>
                <li><a id="" href="#G05">G05</a></li>
                <li><a id="" href="#G06">G06</a></li>
                <li><a id="" href="#G07">G07</a></li>
                <li><a id="" href="#G08">G08</a></li>
                <li><a id="" href="#G09">G09</a></li>
                <li><a id="" href="#G10">G10</a></li>

            </ul>
        </nav>
        <div id="G01" class="esconde">
        <h3>G01</h3>
        GRÁFICOS AINDA FALTANDO SER COLOCADO</div>
        
        <div id="G02" class="esconde">
        <h3>G02</h3>    
        Grafico com modelo gerado pelo JSON21
        <!--Grafico modo barra horizontal-->
        <div id="bar_G021"></div>
        
        Grafico com modelo gerado pelo JSON22
        <!--Grafico modo barra horizontal-->
        <div id="bar_G022"></div>
        
        </div>
        <div id="G03" class="esconde">
        <h3>G03</h3>
        Grafico com modelo gerado pelo JSON31    
        <!--Grafico modo barra horizontal-->
        <div id="bar_G031"></div>   
        
        Grafico com modelo gerado pelo JSON32    
        <!--Grafico modo barra horizontal-->
        <div id="bar_G032"></div>  
        
        <div id="G04" class="esconde">
            <h3>G04</h3>
            GRÁFICOS AINDA FALTANDO SER COLOCADO</div>
        <div id="G05" class="esconde">
            <h3>G05</h3>
            GRÁFICOS AINDA FALTANDO SER COLOCADO</div>
        <div id="G06" class="esconde">
            <h3>G06</h3>
            GRÁFICOS AINDA FALTANDO SER COLOCADO</div>
        <div id="G07" class="esconde">
            <h3>G07</h3>
            GRÁFICOS AINDA FALTANDO SER COLOCADO</div>
        <div id="G08" class="esconde">
            <h3>G08</h3>
            GRÁFICOS AINDA FALTANDO SER COLOCADO</div>
        <div id="G09" class="esconde">
            <h3>G09</h3>
            GRÁFICOS AINDA FALTANDO SER COLOCADO</div>
        <div id="G10" class="esconde">
            <h3>G10</h3>
            GRÁFICOS AINDA FALTANDO SER COLOCADO</div>

  </div>

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jsapi.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/reports.js" ></script>
{% endblock extra_js %}