{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %}
	Adição de Ocorrências
{% endblock title %}

{% block subtitle %}
	Página de criação de novas ocorrências
{% endblock subtitle %}

{% block breadcrumbs %}
	<div class="breadcrumb-button blue">
	<a href="/">
		<span class="breadcrumb-label">
			<i class="icon-home"></i> Home
		</span>
		<span class="breadcrumb-arrow"><span></span></span>
	  </a>
  </div>
	
	<div class="breadcrumb-button blue">
		<a href="{% url 'occurrence_list' %}">
			<span class="breadcrumb-label">
				<i class="icon-home"></i> Ocorrências
			</span>
			<span class="breadcrumb-arrow"><span></span></span>
		</a>
	</div>
	
	<div class="breadcrumb-button">
		<a href="">
		<span class="breadcrumb-label">
		  <i class="icon-dashboard"></i> Adição
		</span>
		<span class="breadcrumb-arrow"><span></span></span>
		</a>
  </div>
{% endblock breadcrumbs %}

{% block content %}
	<div class="container-fluid padded">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-header">
						<span class="title">
							Preencha corretamente todas as informações antes de salvar.
						</span>
					</div>

					<div class="box-content">
						<form class="form-horizontal fill-up" method="POST">
							{% csrf_token %}

							<div class="padded">
								{{ occurrence_form|as_bootstrap }}

								<div class="control-group">
									<label class="control-label">Materiais Apreendidos</label>
									<div class="controls">
										{{ osm_formset.management_form }}
										<table class="table table-bordered table-formset">
											{% for osm_form in osm_formset.forms %}
												{{ osm_form.id }}
												{% if forloop.first %}
													<thead>
														<tr>
															{% for field in osm_form.visible_fields %}
																<th>
																	<label>
																		{{ field.label|title }}
																	</label>
																</th>
															{% endfor %}
															<th>
																<label>Ações</label>
															</th>
														</tr>
													</thead>
												{% endif %}
												<tbody>
													<tr>
														{% for field in osm_form.visible_fields %}
															<td>{{ field }}</td>
															{% if forloop.last %}
																<td>
																	<a href="javascript:;" class="btn btn-danger del-formset">
																		<i class="icon-trash icon-white"></i>
																		Apagar
																	</a>
																</td>
															{% endif %}
														{% endfor %}
													</tr>
												</tbody>
												{% if forloop.last %}
													<tfoot>
														<tr class="actions-formset">
															<td colspan="3">
																<a href="javascript:;" class="btn btn-green add-formset">
																	<i class="icon-plus"></i>
																	Adicionar outro
																</a>
															</td>
														</tr>
													</tfoot>
												{% endif %}
											{% endfor %}
										</table>
									</div>
								</div>
							</div>

							<div class="form-actions">
								<button type="submit" class="btn btn-blue">
									Salvar
								</button>
								<a href="{% url 'occurrence_list' %}" class="btn btn-default">
									Cancel
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block extra_js %}
	<script src="{{ STATIC_URL }}javascripts/occurrence.js" type="text/javascript"></script>
{% endblock extra_js %}